node_modules/

.npm
.yarn
.yarn-cache
.pnpm-store

android/app/build/
android/build/
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata
ios/*.xcuserdatad

.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project

.env
.env.local
.env.development
.env.production

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.temp/
.tmp/
dist/
build/

.DS_Store

.expo/
.expo-shared/

.jest/

.eslintcache

.babelcache

.metro-cache/

vendor/
# Expo
.expo
dist/
web-build/